.arrow {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  box-shadow: 0 13px 13px 0 rgba(#000000, 0.26);
  position: relative;
  background-color: $white-color;
  border-radius: 50%;

  &:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
  }
  &--right {

    &:before {
      background-image: url(../img/arrow-right.svg);
      transform: rotate(180deg);
    }

  }

  &--left {
    &:before {
      background-image: url(../img/arrow-left.svg);
    }
  }

}
